* {
  padding: 0;
  margin: 0;
}

/* scrollbar style */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h3 {
  font-size: 2.5rem;
}

.App {
  background-color: rgb(75, 84, 74);
  height: 100%;
  width: 100%;
}

/* header */

header {
  width: 100%;
  height: 200px;
  background-image: url('media/background-photo/blogging-guide-K5DY18hy5JQ-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.landing-page-heading {
  background-color: #b9bfcaa1;
  color: aliceblue;
}

/* search section */

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(75, 84, 74);
  align-items: center;
  margin-bottom: 15px;
  border-top: 2px solid black;
  padding: 20px 0px 20px 0px;
}

.search-label {
  color: honeydew;
}

.search-bar {
  margin-left: 15px;
  background-color: rgb(80, 79, 79);
  width: 50%;
}

/* main section */

main {
  width: 90vw;
  margin: auto;
  display: block;
}

.quote-section, .chart-section {
  padding: 50px 0px 50px 0px;
}

.quote-heading, .candlestick-chart-heading {
  padding: 20px 0px 20px 0px;
  color: white;
}

/* quote section */

.quote {
  display: block;
  width: 100%;
  height: 20px;
  overflow: hidden;
}

/* chart section */

.stock-chart {
  overflow: scroll;
}

@media only screen and (max-width: 405px) {
  h1 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 315px) {
  .search-label {
    display: none;
  }
}

/* footer */

footer {
  height: 70px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: whitesmoke;
}

footer a {
  color: whitesmoke;
  margin: 0px 4px 0px 4px;
}